* {
  margin: 0;
  padding: 0;
  --font-color: rgb(36, 36, 36);
  --light-font-color: rgb(125, 125, 125);
  --dark-area: rgba(249, 249, 249, 0.77);
  --darker-area: rgb(236, 236, 236);
}
body {
  height: 100vh;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--font-color);
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  text-decoration: underline;
}
#page-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*ROW-1******************************************************************************/
#row-1 {
  flex: 0 0 auto;
  height: 60px;
}
nav {
  display: flex;
  align-items: center;
  height: 80%;
  margin-top: 6px;
  justify-content: end;
}
nav button {
  background-color: rgb(48, 114, 238);
  color: white;
  border: none;
  height: 80%;
  width: 100px;
  border-radius: 3px;
}
nav button:hover {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
nav img {
  height: 55%;
  opacity: 0.65;
}
.nav-spacing {
  margin-right: 15px;
}
/*ROW-2******************************************************************************/
#row-2 {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#logo {
  margin-bottom: 30px;
}

/*ROW-3******************************************************************************/
#row-3 {
  flex: 0 0 auto;
}
#search-bar {
  display: flex;
  align-items: center;
  max-width: 550px;
  height: 44px;
  margin: auto;
  border: 1px solid var(--darker-area);
  border-radius: 22px;
}
#search-bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
#search-bar input {
  flex: 1 1 auto;
  border: none;
}
#search-bar input:focus-visible {
  outline: none;
}
#search-bar button {
  background-color: transparent;
  border: none;
  height: 50%;
}
button img {
  height: 100%;
  opacity: 0.4;
  margin: 0px 12px 0px 12px;
}
#search-bar-buttons {
  display: flex;
  justify-content: center;
}
#search-bar-buttons button {
  background-color: var(--dark-area);
  margin: 8px;
  width: 140px;
  height: 35px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}
#search-bar-buttons button:hover {
  border: 1px solid var(--darker-area);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

/*ROW-4******************************************************************************/
#row-4 {
  flex: 2 0 auto;
}

/*ROW-5******************************************************************************/
#row-5 {
  flex: 0 0 auto;
  height: 90px;
}
footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--light-font-color);
}
footer a {
  color: var(--light-font-color);
}
.footer-row {
  height: 50%;
  background-color: var(--dark-area);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#bottom-row {
  border-top: 1px var(--darker-area) solid;
}
#space-holder-footer {
  flex: 1 0 0px;
}
#right-links {
  display: flex;
  align-items: center;
}
#right-links a {
  margin-right: 25px;
}
#left-links {
  display: flex;
  align-items: center;
}
#left-links a,
#top-row p {
  margin-left: 25px;
}
