* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(56, 56, 56);
}
a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}
#page-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*ROW-1******************************************************************************/
#row-1 {
  flex: 0 0 auto;
  height: 60px;
}
nav {
  display: flex;
  align-items: center;
  height: 80%;
  margin-top: 6px;
  justify-content: end;
}
nav button {
  background-color: rgb(48, 114, 238);
  color: white;
  border: none;
  height: 80%;
  width: 100px;
  border-radius: 3px;
}
nav img {
  height: 55%;
  opacity: 0.65;
}
.nav-spacing {
  margin-right: 8px;
}
/*ROW-2******************************************************************************/
#row-2 {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#logo {
  margin-bottom: 30px;
}

/*ROW-3******************************************************************************/
#row-3 {
  flex: 0 0 auto;
}

/*ROW-4******************************************************************************/
#row-4 {
  flex: 2 0 auto;
}

/*ROW-5******************************************************************************/
#row-5 {
  flex: 0 0 auto;
  height: 90px;
}
footer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer-row {
  height: 50%;
  background-color: rgb(241, 239, 239);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#bottom-row {
  border-top: 1px rgb(209, 209, 209) solid;
}
#space-holder-footer {
  flex: 1 0 0px;
}
#right-links {
  display: flex;
  align-items: center;
}
#right-links a {
  margin-right: 25px;
}
#left-links {
  display: flex;
  align-items: center;
}
#left-links a,
#top-row p {
  margin-left: 25px;
}
